<widget id="A6074026101116" version="1.0.0">

    <name>opeinstallDemo</name>

    <description>

        Example For openinstall.

    </description>

    <author email="developer@openinstall.com" href="https://www.openinstall.io">

        openinstall

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <!-- 配置 openinstall 为应用生成的 appkey 和 scheme -->

    <preference name="urlScheme" value="op82geuv"/>

    <meta-data name="com.openinstall.APP_KEY" value="s9yvm3"/>

    <feature name="openinstall">
        <param name="com.openinstall.APP_KEY" value="s9yvm3"/>
    </feature>

</widget>
